[Unit]
Description=WebLogic nodemanager service
Requires=rpc-statd.service network.target nfs.service nfs-mountd.service local-fs.target remote-fs.target
After=syslog.target network.target nfs.service nfs-mountd.service local-fs.target rpc-statd.service remote-fs.target
RequiresMountsFor=/u01/oracle
 
[Service]
Type=forking
# Note that the following three parameters should be changed to the correct paths
# on your own system
WorkingDirectory=/home/oracle
ExecStart=/opt/wls-autoscaling/scripts/startServices.sh
ExecStop=/opt/wls-autoscaling/scripts/stopWLServer.sh
User=oracle
Group=oracle
KillMode=process
LimitNOFILE=65535
 
[Install]
WantedBy=multi-user.target
